body {
  height: 100vh;
  background-color: rgba(127, 185, 166, 0.5);
}

.row {
  margin: 4vh 0;
}

input {
  height: 40px;
  text-align: center;
}

textarea {
  width: 80%;
  height: 120px;
}

textarea::placeholder {
  text-align: center;
  line-height: 60px;
}

.btn:hover {
  border-radius: 25px;
  color: black;
}

.logo:hover {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.logo {
  width: 100px;
  height: 100px;
  transition: transform 1s;
}

.shrink-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  transition: transform 0.2s;
}

@keyframes rotate-once {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-once {
  animation: rotate-once 1s forwards; /* Adjust duration as needed */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8); /* Shrinks the button */
  }
  100% {
    transform: scale(1); /* Grows the button back */
  }
}

.animate-button {
  animation: pulse 0.2s; /* Adjust duration as needed */
}