body{
  height: 100vh;
  background-color: rgba(127, 185, 166, 0.5)

;
  }

.row{
  margin: 4vh 0;
}
input{
  height: 40px;
  text-align: center;
  
}

textarea{
  width: 80%;
  height: 120px;

}

textarea::placeholder{
  text-align: center;
  line-height:  60px;
 
}

.btn:hover{
  border-radius: 25px;
  color:black;
}
.logo:hover{
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));

  
}